# Finance AI Project Dependencies

langchain>=1.2.0
langchain-core>=1.2.0
langchain-openai>=0.2.0
langgraph>=1.0.0
openai==2.21.0
pinecone==8.0.1
streamlit>=1.54.0
pyyaml==6.0.2
python-dotenv>=1.0.0
streamlit-autorefresh>=1.0.1
yfinance>=0.2.40
pandas>=2.2.2
pytest>=8.0.0
